<mat-toolbar color="primary">
  <div class="grid-container">
    <span class="item1">School Management</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/profile" class="item2">Profile</button>
    <button mat-button routerLink="/attendance" class="item3">Attendance</button>
    <button mat-button routerLink="/login" class="item4">Login</button>
    <span class="spacer"></span>
    <mat-icon class="item5" [mat-menu-trigger-for]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/users/all">All Users Portal</button>
      <button mat-menu-item routerLink="/users/students">Students Portal</button>
      <button mat-menu-item routerLink="/users/teachers">Teachers Portal</button>
    </mat-menu>
    
  </div>
   
   
   
  </mat-toolbar>
