<mat-toolbar color="primary">
  <div class="grid-container">
    <span class="item1" routerLink="/">School Management</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/profile" class="item2">Profile</button>
    <button mat-button routerLink="/attendance" class="item3" *ngIf="isShowAdminTeacher()">Attendance</button>
    <button mat-button routerLink="/login" class="item4" *ngIf="!button">Login</button>
    <button mat-button (click)="logout()" routerLink="/" class="item4" *ngIf="button">Logout</button>
    <span class="spacer"></span>
    <mat-icon class="item5" [mat-menu-trigger-for]="menu" *ngIf="isShowAdminTeacher()">menu</mat-icon>
    <mat-menu   #menu="matMenu">
      <button mat-menu-item routerLink="/users/admin" *ngIf="isShowAdmin()">All Users Portal</button>
      <button mat-menu-item routerLink="/users/student" *ngIf="isShowAdminTeacher()">Students Portal</button>
      <button mat-menu-item routerLink="/users/teacher" *ngIf="isShowAdmin()">Teachers Portal</button>
    </mat-menu>
    
  </div>
   
   
   
  </mat-toolbar>
