<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="isRegistered; else elseBlock">Login</mat-card-title>
    <ng-template #elseBlock
      ><mat-card-title>Sign Up</mat-card-title></ng-template
    >
  </mat-card-header>

  <mat-card-content>
    <form
      class="container"
      [formGroup]="authForm"
      (ngSubmit)="authData()"
      *ngIf="isRegistered; else block1"
    >
      <div class="container">
        <mat-form-field class="full-width">
          <input
            matInput
            class="full"
            placeholder="email"
            name="email"
            formControlName="email"
            required
          />
        </mat-form-field>
        <div class="error" *ngIf="isTochedAndRequired(authForm.get('email'))">
          Email is required
        </div>
        <div class="error" *ngIf="isEmail(authForm.get('email'))">
          Please provide proper email
        </div>
        <mat-form-field class="full-width">
          <input
            matInput
            class="full"
            placeholder="password"
            name="password"
            formControlName="password"
            required
          />
        </mat-form-field>
        <div
          class="error"
          *ngIf="isTochedAndRequired(authForm.get('password'))"
        >
          Password is required.
        </div>
      </div>

      <button mat-raised-button color="primary" [disabled]="authForm.invalid">
        Login
      </button>

      <p class="signupLink">
        Dont have account?
        <a routerLink="/signup" (click)="toggleIsRegistered()">SignUp</a>
      </p>
      <p class="error">{{ message }}</p>
    </form>

    <ng-template #block1>
      <form class="container" [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <div class="container">
          <mat-form-field class="full-width">
            <input
              matInput
              class="full"
              placeholder="email"
              name="email"
              formControlName="email"
              required
            />
          </mat-form-field>
          <div
            class="error"
            *ngIf="isTochedAndRequired(signUpForm.get('email'))"
          >
            Email is required
          </div>
          <div class="error" *ngIf="isEmail(signUpForm.get('email'))">
            Please provide proper email
          </div>
          <mat-form-field>
            <input
              matInput
              class="full"
              placeholder="password"
              name="password"
              formControlName="password"
              required
            />
          </mat-form-field>
          <div
            class="error"
            *ngIf="isTochedAndRequired(signUpForm.get('password'))"
          >
            Password is required.
          </div>
          <mat-form-field>
            <input
              matInput
              class="full"
              placeholder="firstName"
              name="firstName"
              formControlName="firstName"
              required
            />
          </mat-form-field>
          <div
            class="error"
            *ngIf="isTochedAndRequired(signUpForm.get('firstName'))"
          >
            First Name is required.
          </div>
          <mat-form-field>
            <input
              matInput
              class="full"
              placeholder="lastName"
              name="lastName"
              formControlName="lastName"
              required
            />
          </mat-form-field>
          <div
            class="error"
            *ngIf="isTochedAndRequired(signUpForm.get('lastName'))"
          >
            Last Name is required.
          </div>
          <input
          type="file"
          placeholder="Choose File"
          (change)="onFileSelected($event)"
          formControlName="file"
        />
         
        </div>
        <button
          mat-raised-button
          color="primary"
          [disabled]="signUpForm.invalid"
        >
          Signup
        </button>
        <p class="signupLink">
          Have a account ?
          <a routerLink="/login" (click)="toggleIsRegistered()">Login</a>
        </p>
      </form>
    </ng-template>
  </mat-card-content>
</mat-card>
