<mat-card>
    <mat-card-header>
       <mat-card-title>
        <div class="flex">
            <mat-icon>account_circle</mat-icon>
            <h1>{{user.role | titlecase}} Panel</h1>
        </div>
       
       </mat-card-title> 
    </mat-card-header>

    <mat-card-content>
        <div >
            <div  *ngFor="let obj of userArray">
                <div class="flex" *ngFor="let prop of obj | keyvalue">
                <h3 >{{getTitleCase(prop.key) }}</h3>
                <p>{{prop.value}}</p>
                </div>
                <hr>
            </div>
            <div *ngIf="showAttendance()">
                <h3>Total Days:- {{user.attendance.length}}</h3>
                <h4>Present Days:- {{noOfPresentDays}}</h4>
                <h4>Absent Days:- {{noOfAbsentDays}}</h4>
            </div>
        </div>
        
    </mat-card-content>
    
</mat-card>
<app-calender-grid [userData]="user" *ngIf="user.role === 'student'"></app-calender-grid>
<!-- <app-users-table></app-users-table> -->
