.flex{
    display: flex;
     // justify-content: center;
    gap: 20px;
}

.flex h1{
    font-size: 20px;
}
mat-card{
    margin-top: 5%;
    margin-left: 40%;
    width: 300px;
}
mat-icon{
    // margin-right: 10px;
    padding-top: 17px;
    font-size: 25px;
}

hr{
    margin-top:-17px
}

